@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

	:root {
		--primary: 255 255 255;
		--primary-dark: 54 55 56;

		--secondary: 245 245 245;
		--secondary-light: 254 250 241;

		--text: 250 250 250;
		--text-dark: 0 0 0;
		--text-gray: 125 129 132;

		--button-green: 0 255 102;
		--button-red: 219 68 68;
		--button-hover1: 224 117 117;
		--button-hover2: 160 188 224;
	}

	html {
		font-family: "Inter", system-ui, sans-serif;
	}

	input[type="number"]::-webkit-inner-spin-button,
	input[type="number"]::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}

svg {
	fill: currentColor;
}
