@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

	:root {
		--primary: 255 255 255;
		--primary-dark: 54 55 56;

		--secondary: 245 245 245;
		--secondary-light: 254 250 241;

		--text: 250 250 250;
		--text-dark: 0 0 0;
		--text-gray: 125 129 132;

		--button-green: 0 255 102;
		--button-red: 219 68 68;
		--button-hover1: 224 117 117;
		--button-hover2: 160 188 224;
	}

	html {
		font-family: "Inter", system-ui, sans-serif;
	}

	input[type="number"]::-webkit-inner-spin-button,
	input[type="number"]::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}

.tab-primary {
	@apply rounded-full py-3 md:py-2 px-3 text-xs md:text-sm/6 font-semibold text-primary-dark focus:outline-none data-[selected]:bg-button-red data-[selected]:text-white data-[hover]:text-white  data-[hover]:bg-button-hover1 data-[selected]:data-[hover]:bg-button-hover1 data-[focus]:outline-1 data-[focus]:outline-slate-700;
}

.input-primary {
	@apply bg-gray-200 border rounded placeholder:text-sm hover:border-button-hover2 focus:outline-none focus:border-button-hover2;
}

svg {
	fill: currentColor;
}

.custom-blur-image {
	transition: filter 0.3s ease-out;
	filter: blur(20px);
}

.custom-blur-image.loaded {
	filter: blur(0);
}
